<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Build Search Applications with Elasticsearch and AngularJS </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="http://css-spinners.com/css/spinner/throbber.css" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400&amp;subset=latin,greek-ext' rel='stylesheet' type='text/css'>

  <script src="js/vendor/angular.js"></script>
  <script src="js/vendor/angular-sanitize.min.js"></script>
  <script src="js/vendor/elasticsearch.angular.min.js"></script>
<script src="js/search-app.js"></script>
</head>

<body ng-app="searchApp" ng-controller="SearchResultsList">
  <div class="search-form">
    <form ng-submit="search()">
      <input type="text" ng-model="searchTerms" placeholder="Search for books" class="search-input">
      <input type="submit" value="Search" class="search-submit">
    </form>
  </div>

  <section class="results">
    <h1 class="search-title">
      Results for <strong>{{results.searchTerms}}</strong> ({{results.documentCount}})
    </h1>

    <p ng-if="noResults" class="no-results">No results were found for your search.</p>

    <ul>
      <li ng-repeat="book in results.documents">
        <strong ng-bind-html="book.title"></strong>
        <p ng-bind-html="book['detailed description']"></p>
      </li>
    </ul>

    <button ng-click="getNextPage()" ng-if="canGetNextPage" class="load-next">Load More Results</button>

    <div class="throbber" ng-if="isSearching">
      SEARCHING &hellip;
    </div>
  </section>
</body>
</html>